body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(216, 180, 195), rgb(162, 217, 135), rgb(138, 172, 224));
 height: 100vh;
}
.Nav{
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  background-color: aquamarine;
  font-size: 32px;
  font-family:🏸 ;
  margin-top: 5px;
  justify-items: center;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
}
.Home{
  position: absolute;
  margin-top:135px;
  margin-left: 35px;
  color: black;
}
.Contact{
  position: absolute;
  margin-top:105px;
  margin-left: 35px;
  color: black; 

}
.Stname{
  position: absolute;
  top:120px;
  left: 150px;
  color: black;
  font-size: larger;
}
.table{
  position: absolute;
 top: 300px;
 background-color: rgb(61, 220, 235);
 color: black;
 font-size: 30px;
 border-collapse: collapse;
 width: 80%;
 text-align: center;
}
.btn1{
  border: 2px solid black;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  top:150px;
  margin-left: 820px;
  color: black;
  font-size: larger;
  background-color: rgb(219, 184, 203);
  text-align: center;
}
